<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Document</title>
</head>
<body>
        <p>Use this site to get your weather!</p>
        <form action="">
            <input type="text" placeholder="location" id="input1">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
<script>
  const input1 = document.getElementById("input1");
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '811125736273086',
      cookie     : true,
      xfbml      : true,
      version    : 'v11.0'
    });
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
  
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }
  function statusChangeCallback(response) {  
    if(response.status==='connected') {
      const facebookID = response.authResponse.userID;
      FB.api(
        '/me',
        'GET',
        {"fields":"id,name"},
        function(response) {
            input1.value = response.name;
        }
      );
    }else {
      console.log('please login')
    }              // The current login status of the person.
  }
 
</script>
      

  <fb:login-button 
    scope="public_profile,email"
    onlogin="checkLoginState();">
  </fb:login-button>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>